
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Tangerine:wght@700&display=swap');;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    
   /* background-image: url('https://i.pinimg.com/564x/97/03/41/9703412d2bfca870fc500ba3ba0474c7.jpg');*/
    border-bottom: 1px  solid black;
    background-size: cover;
    min-width: 670px;
    
    
}
main {
    background-color:white;
    
    background-image: url('bacplan.jpg');
    
}
.head1{
    background-color: black;
    display: flex;
    
    border-radius: 1rem 1rem 1rem 1rem;
    align-items: end;
    min-width: 700PX;
   
}
.head1 a{margin: 1rem;
    text-decoration: underline;
   
    color: whitesmoke;}



.head1 a:hover{
    cursor: pointer;
    text-shadow: 20px 20px 20px 20px white;
}
.navigatbar{
    background-color: aliceblue;
   padding-left: 0;
}
.head1 ul{ 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: right;
    position: absolute;
    right: 5%;
    top: 4%;
   
}

ol{
    list-style: none;
    padding-left: 0;
    margin-top: 0;}


h1{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

h2{
    color: whitesmoke;
    width: 5%;
    font: optional;
}
.img0{
    margin: 1rem auto;
    margin-left: 40%;
    
}
.beauty{
    font-family: 'Tangerine', cursive;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 0;
}
.prof img{
    width:100%;
    height: auto;
    border-radius: 50%;
}


.prof {
    width: 35%;
    border: 1px double black;
    border-radius: 50%;
    height: 195px;
    padding: 1px;
}
.nowrap{
    white-space: nowrap;
}


.profile{
    width: 100%;
    border: 1px solid black;
    background-color: gainsboro;
    display: flex;
    justify-content:flex-end;
align-items: center;
}
.pic{background-color: white;
    margin: 1rem;
    margin-top: 1em;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    outline: 5px solid;
   margin-right: 0.2rem;
    animation: spark 5s infinite ;
    min-width: 680PX;
}
/*
.pic {
    margin: 1rem;
    margin-top: 1em;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
    outline: 5px solid;

    animation: spark 5s infinite;
}*/

.pic img{
    margin: 0.25rem;
    outline: 2px solid black;
}

.img1{
    width: 600%;
    height: auto;
    margin-left: 0;
    max-width: 200px;
    max-height: 200px;
   
}

.detail{
    margin-left: 0.25rem;
    max-width: 170px;
    min-width: 50px;
}


.figure{
    margin-left: 1rem;
    padding: 3%;
  padding-right: 0.2em;
    margin-right: 0.2rem;
    border: 3px solid rgb(3, 3, 3);
    max-width: 430px;

   
    
    
}
h3{
    padding-bottom: 0.75rem;
}

.material{
    white-space: nowrap;
    display: flex;
}
.material ol li{
    padding-bottom: 0.2rem;
}


.detlist{
     padding-left: 0.25rem;
     margin-top: 0;
     
}




.contact{
   margin-left: 3rem;
}


@keyframes spark {
    50% {box-shadow:  5px 10px 10px 15px rgb(53, 52, 52);}
}

span a{
    color: black;
    font-weight: bold;
}