
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Lora:ital,wght@1,500&family=Oleo+Script+Swash+Caps&family=Tangerine&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    
   /* background-image: url('https://i.pinimg.com/564x/97/03/41/9703412d2bfca870fc500ba3ba0474c7.jpg');*/
    border-bottom: 1px  solid black;
    background-size: cover;
    min-width: 670px;

    
}
main {
    
    
    background-image: url('bacplan.jpg');
   
}
.head1{
    position: relative;
    background-color: black;
    display: flex;
    
    border-radius: 0rem 0rem 1rem 1rem;
    align-items: end;
    min-width: 700PX;
   
}
.head1 a{margin: auto;
    text-decoration: underline;
     
    color: whitesmoke;
   
}

.head1 li{
    margin: 1em;
}

li a:hover,
li a:focus {
    cursor: pointer;
    transform: scale(4,4);
    transition: all 0.3s;
    color: red;
}
.navigatbar{
    background-color: aliceblue;
   padding-left: 0;
}
.head1 ul{ 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: right;
    position: absolute;
    right: 5%;
    top: 4%;
   
}

ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    text-decoration: none;}

h1{
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lora', serif;
}

h2{
    color: whitesmoke;
    width: 5%;
   
}
.img0{
    margin: 1rem auto;
    margin-left: 40%;
    
}
.beauty{
    font-family: 'Tangerine', cursive;
    font-style: italic;
    font-size: 50px;
    margin-bottom: 0;
    font-weight: lighter;
}
.prof img{
    width:100%;
    height: auto;
    border-radius: 50%;
}

.profcontainer{
    width: 100%;
    max-width: 182px;
    
}
.prof {
    width: 100%;
    border: 1px double black;
    border-radius: 50%;
    height: 195px;
    padding: 1px;
    min-width: 182px;
    min-height:195px;
}
.nowrap{
    white-space: nowrap;
}


.profile{
    width: 100%;
    border: 1px solid black;
    background-color: gainsboro;
    display: flex;
    justify-content:flex-end;
align-items: center;
min-width: 680PX;
margin-bottom: 1.5em;

}
.pic{background-color: white;
    margin: 1rem;
    margin-top: 1em;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    outline: 5px solid;
   margin-right: 0.2rem;
    animation: spark 5s infinite ;
    min-width: 680PX;
    /*position: relative;*/
}


.filter{
    background-color: hsla(0, 100%, 100%, 0.774);
}
/*
.pic {
    margin: 1rem;
    margin-top: 1em;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: nowrap;
    width: 800px;
    outline: 5px solid;

    animation: spark 5s infinite;
}*/

.pic img{
    margin: 0.25rem;
    outline: 2px solid black;
    width: 100%;
    height: auto;
}

.img1{
    width: 600%;
    height: auto;
    margin-left: 0;
    max-width: 180px;
    max-height: 180px;
   
}

.detail{
    /* position: absolute;
    top: 2rem;
    left: 30rem; */
    padding-top: 0.7em;
    margin-left: 0.25rem;
    max-width: 170px;
    min-width: 50px;
}


.figure{
    margin-left: 1rem;
    padding: 3%;
 
    margin-right: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 3px solid rgb(3, 3, 3);
    
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    height: auto;
    padding-right: 0;

}
h3{
    padding-bottom: 0.75rem;
}

.material{
    white-space: nowrap;
    display: flex;
}
.material li{
    padding-bottom: 0.2rem;
    font-family: 'Lora', serif;
    
    font-size: 0.5em;
   

}


.detlist{
     padding-left: 0.25rem;
     margin-top: 0;
     font-size:1.5em;
     font-family: 'Lora', serif;
}

.amnetie{
    margin-bottom: 2em;
}
.amnetie ul{
    margin-left: 3em;
    font-family: 'Cormorant Garamond', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6em;
       
        list-style-image: url(favorite_F.png);
       
        

}

.amnetie ul li{
    padding-bottom:0.5em;
}



.Business {
    margin-bottom: 2em;
}

.Business ul{
    margin-left: 3em;
        font-family: 'Cormorant Garamond', serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6em;
        list-style: none;
        
}
.Business ul li{
    padding: 0.2em;}

.contact{
   margin-left: 3rem;
   margin-bottom: 2em;
}

.location {
    margin-left: 3rem;
    margin-bottom: 2em;
}

@keyframes spark {
    50% {box-shadow:  5px 10px 10px 15px rgb(53, 52, 52);}
}

span a{
    color: black;
    font-weight: bold;
    
    
}

.quote{
    font-weight: bold;
    font-size: 2rem;
}

.intro{
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        font-weight: 700;
        font-size: 1.2em;
        margin-left: 1em;
        min-width: 400px;
}
p{
    font-family: 'Cormorant Garamond', serif;
    
    font-weight: 700;
    font-size: 1.6em;
}


.location a{
    color: black;
    font-weight: 1400;
    font-size: 1.3em;
}

.contact a{
    color: black;
    font-weight: 1400;
    font-size: 1.3em;
}

.profile a{
    color: black;
    font-weight: 1400;
    font-size: 1.3em;
}


.detail h3{
    display:flex;
    flex-flow: column;
    /* font-family: 'Lora', serif; */
    font-family: 'Tangerine', cursive;
    font-size: 3em;
    text-decoration: underline;
    
}


.detail h5{
    font-family: 'Lora', serif;
    font-weight: lighter;
    font-size: 2em;
    padding-bottom: 0.6em;
}